<div class="passwd-edit__back" onclick="window.location.href='{{goBack}}'">
    <img src={{back}} alt="back" />
</div>
<div class="passwd-edit__content">
    <form class="passwd-edit__content__form" action={{onSave}}>
        <div class="passwd-edit__content__form_avatar">
            <img src={{avatar}} alt="avatar" />
        </div>
        <div class="passwd-edit__content__form_data">
            {{{oldPasswd}}}
            {{{newPasswd}}}
            {{{newPasswdRetry}}}
        </div>
        <div class="passwd-edit__content__form_button">
            {{{save}}}
        </div>
    </form>
</div>
