<div class="sign-up-form_title">{{title}}</div>
<div class="sign-up-form_inputs">
    {{{email}}}
    {{{login}}}
    {{{first_name}}}
    {{{second_name}}}
    {{{phone}}}
    {{{password}}}
    {{{passwordRetry}}}
</div>
{{{signUp}}}
<div class="sign-up-form_link">{{{signIn}}}</div>
