<div class="sign-in-form_title">{{title}}</div>
<div class="sign-in-form_inputs">
    {{{login}}}
    {{{password}}}
</div>
{{{signIn}}}
<div class="sign-up-form_error">{{error}}</div>
<div class="sign-in-form_link">{{{signUp}}}</div>
