<div class="tab">
    <div class="tab_avatar">
        {{#if avatar}}
            <img src={{avatar}} alt="avatar" />
        {{/if}}
    </div>
    <div class="tab__content">
        <div class="tab__content__up">
            <div class="tab__content__up_name">
                <span>{{name}}</span>
            </div>
            <div class="tab__content__up_time">
                <span>{{time}}</span>
            </div>
        </div>
        <div class="tab__content__down">
            <div class="tab__content__down_text">
                <span>{{text}}</span>
            </div>
            <div class="tab__content__down_count">
                <span>{{count}}</span>
            </div>
        </div>
    </div>
</div>
