<div class="profile-edit-form_avatar">
    <img src={{avatar}} alt="avatar" />
</div>
<div class="profile-edit-form_data">
    {{{email}}}
    {{{login}}}
    {{{first_name}}}
    {{{second_name}}}
    {{{display_name}}}
    {{{phone}}}
</div>
<div class="profile-edit-form_button">
    {{{save}}}
</div>
<div class="profile-edit-form_error">{{error}}</div>
