<div class="profile-edit-form_avatar">
    <img src={{avatar}} alt="avatar" />
</div>
<div class="profile-edit-form_data">
    {{{email}}}
    {{{login}}}
    {{{firstName}}}
    {{{secondName}}}
    {{{displayName}}}
    {{{phone}}}
</div>
<div class="profile-edit-form_button">
    {{{save}}}
</div>
