{{{back}}}
<div class="profile__content">
    {{#if isLoading}}
        Loading...
    {{else}}
    <div class="profile__content__container">
        <div class="profile__content__container_avatar">
            {{{avatar}}}
        </div>
        <div class="profile__content__container_name">{{data.first_name}}</div>
        <div class="profile__content__container_data">
            {{{email}}}
            {{{login}}}
            {{{firstName}}}
            {{{secondName}}}
            {{{displayName}}}
            {{{phone}}}
        </div>
        <div class="profile__content__container_links">
            {{{editProfile}}}
            {{{editPasswd}}}
            {{{exit}}}
        </div>
    </div>
    {{/if}}
</div>
{{{modal}}}
{{{overlay}}}
