<div class="profile">
    <div class="profile__back">
        <img src={{back}} alt="back" />
    </div>
    <div class="profile__content">
        <div class="profile__content__container">
            <div class="profile__content__container_avatar">
                <img src={{avatar}} alt="avatar" />
            </div>
            <div class="profile__content__container_name">{{name}}</div>
            <div class="profile__content__container_data">
                {{{email}}}
                {{{login}}}
                {{{firstName}}}
                {{{secondName}}}
                {{{displayName}}}
                {{{phone}}}
            </div>
            <div class="profile__content__container_links">
                {{{editProfile}}}
                {{{editPasswd}}}
                {{{exit}}}
            </div>
        </div>
    </div>
</div>
