<div class="profile-edit__back" onclick="window.location.href='{{goBack}}'">
    <img src={{back}} alt="back" />
</div>
<div class="profile-edit__content">
    <form class="profile-edit__content__form" action={{onSave}}>
        <div class="profile-edit__content__form_avatar">
            <img src={{avatar}} alt="avatar" />
        </div>
        <div class="profile-edit__content__form_data">
            {{{email}}}
            {{{login}}}
            {{{firstName}}}
            {{{secondName}}}
            {{{displayName}}}
            {{{phone}}}
        </div>
        <div class="profile-edit__content__form_button">
            {{{save}}}
        </div>
    </form>
</div>
