<div class="profile-edit">
    <div class="profile-edit__back">
        <img src={{back}} alt="back" />
    </div>
    <div class="profile-edit__content">
        <div class="profile-edit__content__container">
            <div class="profile-edit__content__container_avatar">
                <img src={{avatar}} alt="avatar" />
            </div>
            <div class="profile-edit__content__container_data">
                {{{email}}}
                {{{login}}}
                {{{firstName}}}
                {{{secondName}}}
                {{{displayName}}}
                {{{phone}}}
            </div>
            <div class="profile-edit__content__container_button">
                {{{save}}}
            </div>
        </div>
    </div>
</div>
