<div class="sign-in">
    <form class="sign-in__form" action={{onEnter}}>
        <div class="sign-in__form_title">{{title}}</div>
        <div class="sign-in__form_inputs">
            {{{login}}}
            {{{password}}}
        </div>
        {{{signIn}}}
        <div class="sign-in__form_link">{{{link}}}</div>
    </form>
</div>
