<div class="chats__list">
    <div class="chats__list_link">
        {{{goToProfile}}}
    </div>
    <div class="chats__list_search">
        {{{search}}}
    </div>
    <div class="chats__list_tabs">
        {{{tab}}}
    </div>
</div>
<div class="chats__chat">
    {{{header}}}
    {{{content}}}
    {{{footer}}}
</div>
