<div class="passwd-edit-form_avatar">
    <img src={{avatar}} alt="avatar" />
</div>
<div class="passwd-edit-form_data">
    {{{oldPasswd}}}
    {{{newPasswd}}}
    {{{newPasswdRetry}}}
</div>
<div class="passwd-edit-form_button">
    {{{save}}}
</div>
