<div class="passwd-edit-form_avatar">
    <img src={{avatar}} alt="avatar" />
</div>
<div class="passwd-edit-form_data">
    {{{oldPassword}}}
    {{{newPassword}}}
    {{{newPasswordRetry}}}
</div>
<div class="passwd-edit-form_button">
    {{{save}}}
</div>
